@tailwind base;
@tailwind components;
@tailwind utilities;
/* //TODO use tailwing */

body {
  background-color: black;
  font-family: sans-serif;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #6b3fc4, #6b9be2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}